<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

<div class="inline-form">
    <div class="card border-0 shadow-lg p-3 mb-5 bg-white rounded" id="card" style="width: 95%;">
        <div class="card-body">
            <form novalidate>
                <input name="day" type="hidden" value="<%= day %>" />
                <input name="player" type="hidden" value="<%= player %>" />

                <div class="form-groud">
                    <h4>
                        <%= name %>
                    </h4>
                    <h6>Deadline: <%= day %> <%= deadline %> Uhr</h6>
                    </br>
                </div>

                <% for (i = 0; i < games.length; i++) { %>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-5">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-1">
                                            <img src="/pictures/<%= games[i].homeTeam %>.png" alt="<%= games[i].homeTeam %>">
                                        </div>
                                        <div class="col-11">
                                            <label class="font-weight-bold" for="home<%= i %>"><%= games[i].homeTeam %></label>
                                        </div>
                                    </div>

                                    <select class="form-control" name="home<%= i %>" id="home<%= i %>">
                                      <option>0</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                      <option>11</option>
                                      <option>12</option>
                                      <option>13</option>
                                      <option>14</option>
                                      <option>15</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-2">
                                    <label for="vs<%= i %>" class="text-light">
                                        text
                                        </label>
                                        <input type="text" id="vs<%= i %>" readonly class="form-control-plaintext text-center" value="vs.">
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                        <div class="form-row">
                                                <div class="col-1">
                                                    <img src="/pictures/<%= games[i].awayTeam %>.png" alt="<%= games[i].awayTeam %>">
                                                </div>
                                                <div class="col-11">
                                                    <label class="font-weight-bold" for="away<%= i %>"><%= games[i].awayTeam %></label>
                                                </div>
                                            </div>
                                    <select class="form-control" name="away<%= i %>" id="away<%= i %>">
                                      <option>0</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                      <option>11</option>
                                      <option>12</option>
                                      <option>13</option>
                                      <option>14</option>
                                      <option>15</option>
                                    </select>
                                  </div>
                            </div>
                        </div>
                    </div>

                    

                    <% } %>
                        </br>
                        <div class="form-group">
                            <button class="btn btn-dark btn-lg btn-block" formmethod="POST" formaction="/createTipp" formtarget="_self">Speichern</button>
                        </div>

            </form>
        </div>
    </div>
</div>
